html, body, form
        {
            overflow: hidden;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

body 
{
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

#headerBox
{   
    height:45px;
}

#contentBox
{   
    position: fixed; 
    top: 45px; /*Set top value to headerBox*/
    left: 0;
    right: 0;
    bottom: 20px; /*Set bottom value to footerBox*/
    overflow: hidden; 
}

#footerBox
{  
    width: 100%; position: fixed; clear: both; position:absolute; bottom:0; left:0;
    height:20px;
}


#logo
{
    background-image: url('spot.jpg');
    background-repeat: no-repeat;
    width: 160px;
    height: 42px;
    margin-left: 20px;
}


#displayMode
{    
    font-size: 12px;
    float:left;
    width:40px;
}

#displayModeValue
{
    font-size: 12px;
    color: #CC0000;
    margin-left:5px;
}

#displayModeBox
{
    margin-top: 10px;
    margin-left:10px;
}

#copyright
{
    right: 50px;
    position: absolute;
    font-size: 11px;
}

#leftDaftarKapalBox
{
    background-color: #EAEAEA;
    height: 100px;
    width: 230px;
    margin-top: 10px;
    margin-left: 10px;
}

#leftLegendBox
{
    background-color:#EAEAEA;
    height:100px;
    width:230px;
    margin-top: 10px;
    margin-left:10px;
}
